<div class="container">
	<div class="navbar">
		<%= image_tag "logo.svg", alt: "skymgmt logo", class: "logo"%>
		<div class="menu d-flex">
			<div class="trigger mx-2">
				<p class="menu-btn modal-btn" data-toggle="modal" data-target="#aboutModalCenter" id="about">about</p>
				<p class="menu-btn modal-btn" data-toggle="modal" data-target="#indexModalCenter" id="index">index</p>
			</div>
			<div class="language">
				<p class="menu-btn">fr</p>
				<p class="menu-btn">en</p>
			</div>
		</div>
	</div>
	<div class="cards">
		<% @models.each do |model| %>
		  <%= link_to model_path(model) do %>
		    <div class="card">

		    	<% 
		    		random_bg = ["https://booker-theface.s3.amazonaws.com/library/1513/9B-fIatLVWPc13HqnW83_M.JPG", "https://booker-theface.s3.amazonaws.com/library/1513/20201124_17302983.jpg", "https://booker-theface.s3.amazonaws.com/library/1513/20201124_173653205.jpg", "https://booker-theface.s3.amazonaws.com/library/1077/20190509_16022915.jpg", "https://booker-theface.s3.amazonaws.com/library/1077/20190509_16024586.jpg", "https://booker-theface.s3.amazonaws.com/library/422/20190506_171237304.jpg", "https://booker-theface.s3.amazonaws.com/library/422/20190506_174339222.jpg", "https://booker-theface.s3.amazonaws.com/library/1232/20190506_161736365.jpg", "https://booker-theface.s3.amazonaws.com/library/1232/20190506_161947968.jpg"]
		    	%>

		    	<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= random_bg.sample %>); background-size: cover; background-position: center;">
			    	<div class="card-info">
			    		<div class="top py-1">
				    		<div class="info d-flex justify-content-center">
				    			<p class="px-3"><%= model.category %></p>
				    		</div>
			    		</div>
				        <h2> <%= model.first_name%> <%= model.last_name %></h2>
				        <div class="bottom">
					        <div class="info d-flex justify-content-center">
					        	<p class="px-3">H <%= model.height %> cm</p>
					        	<p class="px-3">C <%= model.chest %> cm</p>
					        	<p class="px-3">W <%= model.waist %> cm</p>
					        	<p class="px-3">H <%= model.hips %> cm</p>
					        </div>
					        <div class="info d-flex justify-content-center">
					        	<p class="px-3">F <%= model.foot %></p>
					        	<p class="px-3">H <%= model.hair %></p>
					        	<p class="px-3">E <%= model.eye %></p>
					        </div>	
				        </div>
			        </div>
		        </div>
		    </div>
		  <% end %>
		<% end %>
	</div>

</div>