<div class="container">
	<div class="back">
		<%= link_to models_path, class: "back" do %>
			<span class="close hairline"></span>
		<% end %>
	</div>

	<div class="inline-show">

		<div class="show-text">
			<p> <%= @model.first_name%> <%= @model.last_name %></p>
			<div class="ml-5 my-5">
				<p class="px-3"> <%= @model.description %> </p>
		        <div class="bottom my-4">
			        <div class="info-show d-flex justify-content-left">
			        	<% if @model.height != "" %>
			        		<p class="px-3">H <%= @model.height %> cm</p>
			        	<% end %>
			        	<% if @model.chest != "" %>
			        		<p class="px-3">C <%= @model.chest %> cm</p>
			        	<% end %>
			        	<% if @model.waist != "" %>
			        		<p class="px-3">W <%= @model.waist %> cm</p>
			        	<% end %>
			        	<% if @model.hips != "" %>
			        		<p class="px-3">H <%= @model.hips %> cm</p>
			        	<% end %>
			        </div>
			        <div class="info-show d-flex justify-content-left">
			        	<% if @model.foot != "" %>
			        		<p class="px-3">F <%= @model.foot %></p>
			        	<% end %>
			        	<% if @model.hair != "" %>
			        		<p class="px-3">H <%= @model.hair %></p>
			        	<% end %>
			        	<% if @model.eye != "" %>
			        		<p class="px-3">E <%= @model.eye %></p>
			        	<% end %>
			        </div>	
		        </div>
		     </div>
		</div>

		<% 
			random_bg = ["https://booker-theface.s3.amazonaws.com/library/1513/9B-fIatLVWPc13HqnW83_M.JPG", "https://booker-theface.s3.amazonaws.com/library/1513/20201124_17302983.jpg", "https://booker-theface.s3.amazonaws.com/library/1513/20201124_173653205.jpg", "https://booker-theface.s3.amazonaws.com/library/1077/20190509_16022915.jpg", "https://booker-theface.s3.amazonaws.com/library/1077/20190509_16024586.jpg", "https://booker-theface.s3.amazonaws.com/library/422/20190506_171237304.jpg", "https://booker-theface.s3.amazonaws.com/library/422/20190506_174339222.jpg", "https://booker-theface.s3.amazonaws.com/library/1232/20190506_161736365.jpg", "https://booker-theface.s3.amazonaws.com/library/1232/20190506_161947968.jpg"]
		%>

		<% @model.photos.each do |photo| %>
		  		<%= cl_image_tag photo.key, style: "height: 85vh" %>
		<% end %>
		<div> </div>


	<!-- 	<div class="d-flex">
			<img src="https://booker-theface.s3.amazonaws.com/library/1513/9B-fIatLVWPc13HqnW83_M.JPG" alt="ok">
			<img src="https://booker-theface.s3.amazonaws.com/library/1513/20201124_17302983.jpg" alt="ok">
			<img src="https://booker-theface.s3.amazonaws.com/library/1513/20201124_173653205.jpg" alt="ok">
			<img src="https://booker-theface.s3.amazonaws.com/library/1077/20190509_16022915.jpg" alt="ok">
			<img src="https://booker-theface.s3.amazonaws.com/library/1232/20190506_161947968.jpg" alt="ok">
			<img src="https://booker-theface.s3.amazonaws.com/library/422/20190506_171237304.jpg" alt="ok">
		</div> -->

	</div>

</div>