<!DOCTYPE html>
<html>
  <head>
    <title>Skymgmt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body style="<%= 'height: 100vh; overflow-y: hidden;' if params[:action] == 'show'%>">
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= render 'shared/modal' %>
  </body>

  <div class="cursor-dot-outline"></div>
  <div class="cursor-dot"></div>
</html>
